<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="SF.Foundation.ViewVariants.Repositories.RegisterDependencies, SF.Foundation.ViewVariants" />
    </services>
    <pipelines>
      <parseVariantFields>
        <processor type="SF.Foundation.ViewVariants.ParseViewRenderingTemplate, SF.Foundation.ViewVariants" resolve="true"/>
      </parseVariantFields>
      <renderVariantField>
        <processor type="SF.Foundation.ViewVariants.RenderViewRenderingTemplate, SF.Foundation.ViewVariants" resolve="true"/>
      </renderVariantField>
    </pipelines>
  </sitecore>
</configuration>
